.agent-t {
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: fit-content;
  &__header {
    display: flex;
    min-height: 32px;
    align-items: center;
    text-align: center;
    font-family: $public-sans-regular;
    font-size: 14px;
    font-weight: 500;
    color: $white;
    text-transform: capitalize;
    margin-bottom: 15px;
    background-color: $turquoise-blue;
    &--preview {
      min-height: 16px;
      font-size: 7px;
      margin-bottom: 4px;
    }
    &-item {
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 170px;
      height: 100%;
      margin: 0 2px 0 0;
      background-color: $turquoise-blue;
      &:first-child {
        min-width: 100px !important;
      }
      &--preview {
        min-width: 80px;
        &:first-child {
          min-width: 50px !important;
        }
      }
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
  }
  &__agent {
    display: flex;
    align-items: center;
    margin-bottom: 7px;
    &--preview {
      margin-bottom: 2px;
    }
    &-info {
      padding: 12px 5px;
      font-family: $public-sans-regular;
      font-size: 16px;
      color: $natterbox-dark-blue-grey;
      background-color: $pinkish-grey;
      min-width: 170px;
      margin: 0 2px 0 0;
      text-align: center;
      &:first-child {
        background-color: transparent;
        padding: 0;
        min-width: 100px;
      }
      &--preview {
        min-width: 80px;
        padding: 3px 2px;
        font-size: 8px;
        white-space: nowrap;
        overflow: hidden;
        &--color {
          display: flex;
          width: 100%;
          justify-content: space-between;
          padding-left: 10px;
        }
        &:first-child {
          min-width: 50px;
        }
      }
      &__skills {
        cursor: pointer;
      }
      &--lighter-red,
      &--dark-blue,
      &--red,
      &--green,
      &--grey {
        padding-right: 10px;
        cursor: pointer;
      }
      &--lighter-red {
        background-color: $natterbox-lighter-red;
        color: $white;
      }
      &--dark-blue {
        background-color: $natterbox-dark-blue-grey;
        color: $white;
      }
      &--red {
        background-color: $natterbox-red;
        color: $white;
      }
      &--green {
        background-color: $natterbox-green;
      }
      &--grey {
        background-color: $pinkish-grey;
      }

      &--circle {
        padding: 0;
        background-color: $white;
        display: flex;
        justify-content: flex-start;
        padding-left: 20px;
        align-items: center;
        text-align: start;
        &--preview {
          font-size: 7px;
          padding-left: 10px;
          min-width: 80px;
        }
        &-container {
          display: flex;
          margin-right: 5px;
          justify-content: center;
          align-items: center;
          min-width: 30px;
          height: 30px;
          &--preview {
            min-width: 15px;
            height: 15px;
          }
          border-radius: 50%;
          &--sun-yellow {
            background-color: rgba($sun-yellow, 0.58);
          }
          &--lighter-red {
            background-color: rgba($natterbox-lighter-red, 0.58);
          }
          &--orange {
            background-color: rgba($natterbox-orange, 0.58);
          }
          &--magenta {
            background-color: rgba($natterbox-magenta, 0.58);
          }
          &--aqua {
            background-color: rgba($natterbox-aqua, 0.58);
          }
          &--sick-green {
            background-color: rgba($sick-green, 0.58);
          }
          &--grey {
            background-color: rgba($pinkish-grey-two, 0.58);
          }
        }
        &-center {
          width: 20px;
          height: 20px;
          &--preview {
            width: 10px;
            height: 10px;
          }
          border-radius: 50%;
          &--sun-yellow {
            background-color: $sun-yellow;
          }
          &--lighter-red {
            background-color: $natterbox-lighter-red;
          }
          &--orange {
            background-color: $natterbox-orange;
          }
          &--magenta {
            background-color: $natterbox-magenta;
          }
          &--aqua {
            background-color: $natterbox-aqua;
          }
          &--sick-green {
            background-color: $sick-green;
          }
          &--grey {
            background-color: $pinkish-grey-two;
          }
        }
      }
    }
  }
  &__arrow-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }
}
