.c-dropdown {
  background-color: #f4f2f2;
  padding: 4px 8px;
  border-radius: 5px;
  border: solid 1px $pinkish-grey;
  font-size: 16px;
  color: $slate-gray;
  font-family: $public-sans-regular;
  width: 100%;
}
