.c-grid {
  width: calc(100% - 30px);
  margin: 0 auto;
  position: relative;
  &__cells {
    display: grid;
    row-gap: 4px;
    column-gap: 4px;
    grid-template-columns: repeat(12, calc((100% / 12) - 4px));
  }
  &__cell {
    height: 25px;
    background-color: $dark-white;
  }
  &__components {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    margin-top: -10px;
  }
}

.agent-list {
  border: solid 1px $pinkish-grey;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  background-color: $white;
  height: 100%;
  width: 100%;
  overflow: hidden;
  &__header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background-color: $dark-grey;
    padding: 8px 10px;
  }
  &__title {
    display: flex;
    width: calc(100% - 50px);
    font-family: $public-sans-regular;
    font-size: 14px;
    color: $slate-gray;
    user-select: none;
    cursor: pointer;
    &--bold {
      font-family: $public-sans-bold;
    }
  }
  &__icons {
    display: flex;
    align-items: center;
    margin-left: 16px;
  }
  &__edit-icon,
  &__delete-icon {
    cursor: pointer;
  }
  &__body {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 15px;
    overflow: auto;
    &--table {
      padding: 0;
      padding-bottom: 10px;
      display: flex;
      flex-wrap: nowrap;
      .agent-t:last-child {
        margin-left: 30px;
      }
    }
  }
}
