.i {
  &--redo,
  &--undo {
    fill: $grey;
    cursor: pointer;
    &--disabled {
      fill: $dark-white;
      cursor: default;
    }
  }
  &--arrow {
    &--down {
      transform: rotate(180deg);
      stroke: $white;
      &--small {
        width: 8px;
        height: 8px;
      }
      &--large {
        width: 15px;
        height: 15px;
      }
      &--table {
        position: absolute;
        top: 50%;
        right: 5px;
        transform: rotate(180deg) translateY(50%);
      }
    }
  }
  &--checkmark {
    fill: $turquoise-blue;
    cursor: pointer;
    &--notification {
      box-sizing: content-box;
      padding: 5px;
      border-radius: 50%;
      background-color: $white;
      cursor: default;
    }
  }
  &--close {
    fill: $white;
    cursor: pointer;
    &--error {
      fill: $natterbox-lighter-red;
      box-sizing: content-box;
      padding: 5px;
      border-radius: 50%;
      background-color: $white;
      cursor: default;
    }
    &--black {
      fill: $natterbox-dark-blue-grey;
    }
  }
}
