.c-landing {
  height: 100vh;
  padding: 0 15px 15px 15px;

  &__content {
    display: flex;
  }

  &-sidebar {
    width: 253px;
    background-color: $light-grey;
    margin-right: 12px;
    border-top-left-radius: 12px;

    &-list {
      list-style: none;
      padding: 0;
      margin-bottom: 40px;

      li {
        cursor: pointer;
        height: 40px;
        display: flex;
        align-items: center;
        padding-left: 15px;
      }

      &__filter {
        padding: 10px 8px;
        color: $grey;
        font-family: $public-sans-bold;
        font-size: 16px;
        font-weight: 600;

        &--selected {
          background-color: $turquoise-blue;
          color: $white;
        }
      }

      &__headline {
        font-family: $inter-bold;
        font-weight: 600;
        font-size: 20px;
        color: $turquoise-blue;
        border-bottom: 1px solid $turquoise-blue;
      }
    }
  }

  &-table {
    background-color: $light-grey;
    width: calc(100% - 265px);
    overflow: scroll;
    height: 90asvh;
    border-top-right-radius: 12px;

    &__wb-name {
      width: 693px !important;

      p {
        margin-bottom: 10px;
      }
    }

    &__edit-btn {
      background-image: url("../../assets/static/images/edit_icon.svg");
    }

    &__copy-btn {
      background-image: url("../../assets/static/images/copy_icon.svg");
    }

    &__delete-btn {
      background-image: url("../../assets/static/images/delete_icon.svg");
    }

    button {
      cursor: pointer;
      border: none;
      outline: none;
      height: 18px;
      width: 18px;
      display: inline-block;
      margin-right: 20px;
      background-size: contain;
      background-repeat: no-repeat;
      background-color: transparent;
    }

    table {
      border-spacing: 20px;

      thead {
        font-weight: bold;
        color: $slate-gray;
        font-size: 14px;
        font-family: $inter-bold;
        font-weight: 600;
      }

      tbody {
        td {
          height: 60px;
          width: 250px;
          background-color: $dark-grey;
          border-radius: 8px;
          padding-left: 17px;

          &:last-child {
            background-color: transparent;
          }

          p {
            margin: 0;
            font-family: $public-sans-bold;
            font-weight: 600;
            font-size: 16px;
            color: $grey;
          }

          span {
            font-size: 10px;
            font-family: $public-sans-regular;
            color: $turquoise-blue;
          }
        }
      }
    }
  }
}

.c-landing ::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

.c-landing ::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: $input-text-colour;
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
  padding-left: 20px;
}
.c-landing ::-webkit-scrollbar-track {
  background: $dark-grey;
}
