.notification {
  position: fixed;
  bottom: -100px;
  left: 50%;
  padding: 15px;
  border-radius: 14px;
  display: flex;
  align-items: center;
  &--success {
    background-color: $turquoise-blue;
  }
  &--error {
    background-color: $natterbox-lighter-red;
  }
  &--active {
    bottom: 50px;
  }
  &__body {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  transform: translateX(-50%);
  transition: bottom linear 0.3s;
  &__message {
    width: 400px;
    margin-left: 10px;
    color: $white;
    font-size: 16px;
    font-family: $public-sans-bold;
  }
  &__close-container {
    display: flex;
    min-width: 35px;
    height: 35px;
    align-items: center;
    justify-content: center;
    border: 1px solid $white;
  }
}
