.c-new-wallboard {
  height: 90vh;
  display: flex;
  flex-direction: column;
  padding: 0 15px 15px 15px;
}
.c-panel {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 12px;
  background-color: $light-grey;
  &__info {
    display: flex;
    max-width: 380px;
    text-align: center;
    flex-direction: column;
    &-text {
      display: flex;
      flex-direction: column;
      font-family: $public-sans-bold;
      font-size: 14px;
      font-weight: 600;
      color: $slate-gray;
      margin-bottom: 40px;
    }
  }
}
