.c-wallboard {
  &--read-only {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
    &__component {
      width: calc(100% - 30px);
      margin: 0 auto;
    }
    &__cards {
      display: flex;
      flex-wrap: wrap;
    }
    &__title {
      margin-bottom: 20px;
      display: flex;
      font-family: $public-sans-regular;
      font-size: 14px;
      color: $slate-gray;
      &--bold {
        margin-right: 3px;
        font-family: $public-sans-bold;
      }
    }
  }

  &--new {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
  }
}
.c-panel {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  justify-content: center;
  width: calc(100% - 30px);
  margin: 0 auto;
  border-radius: 12px;
  background-color: $light-grey;
  &__info {
    display: flex;
    max-width: 380px;
    text-align: center;
    flex-direction: column;
    &-text {
      display: flex;
      flex-direction: column;
      font-family: $public-sans-bold;
      font-size: 14px;
      font-weight: 600;
      color: $slate-gray;
      margin-bottom: 40px;
    }
  }
}

.c-wallboard--read-only {
  &__cards {
    display: flex;
    flex-wrap: wrap;
  }
  &__title {
    margin-bottom: 20px;
    display: flex;
    font-family: $public-sans-regular;
    font-size: 14px;
    color: $slate-gray;
    &--bold {
      margin-right: 3px;
      font-family: $public-sans-bold;
    }
  }
}
