@import 'common/variables.scss';
@import 'common/fonts.scss';
@import 'components/login.scss';
@import 'components/landing.scss';
@import 'components/toolbar.scss';
@import 'components/button.scss';
@import 'components/modal.scss';
@import 'components/input.scss';
@import 'components/wallboard.scss';
@import 'components/select.scss';
@import 'components/icons.scss';
@import 'components/radio.scss';
@import 'components/checkbox.scss';
@import 'components/agent-card.scss';
@import 'components/agent-table.scss';
@import 'components/grid.scss';
@import 'components/autosuggest.scss';
@import 'components/notification.scss';
@import 'components/resizable.scss';

body {
  margin: 0;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.c-banner {
  height: 50px;
  background-color: $turquoise-blue;
  padding: 0 23px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &-logo {
    width: 161px;
    height: 29px;
    background-image: url('../../src/assets/static/images/logo_white.webp');
    background-size: contain;
    cursor: pointer;
  }

  &-brand {
    width: 120px;
    height: 24px;
    background-image: url('../../src/assets/static/images/wallboard_header.png');
    background-size: contain;
  }
}

.fetch-message {
  color: $natterbox-dark-blue-grey;
  font-family: $public-sans-regular;
  text-align: center;
  margin-top: 20px;
}

.empty-message {
  margin-top: 15px;
  font-family: $public-sans-bold;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: $input-text-colour;
}
