.c-toolbar {
  width: calc(100% - 30px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 0 1 auto;
  margin: 0 auto;
  padding: 25px 0;

  &-right {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    &__search-input {
      width: 100%;
      max-width: 460px;
    }
  }
  &-left {
    width: 40%;
    max-width: 500px;
    &__heading {
      color: $turquoise-blue;
      font-size: 20px;
      font-family: $inter-regular;
      margin: 0 0 5px 0;
    }
    &__wb-no {
      font-size: 12px;
      font-family: $public-sans-regular;
      color: $grey;
      margin: 0;
    }
  }
  &--error {
    flex-direction: column;
    .c-toolbar-right {
      margin-top: 10px;
      justify-content: center;
    }
  }
}

@media screen and (max-width: $tablet) {
  .c-toolbar:not(.c-toolbar--wb-read-only) {
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px 0;
    &-left,
    &-right {
      margin-top: 10px;
      width: 100%;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
    }
    &-right {
      &__search-input {
        max-width: 100%;
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
      }
    }
    &-left {
      &__wrapper {
        text-align: center;
      }
    }
  }
}
