.c-wallboard {
  &--read-only {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
    &--slider {
      &:hover {
        .i--arrow--slider {
          opacity: 1;
        }
      }
    }
    &__component {
      width: calc(100% - 30px);
      margin: 0 auto;
      height: 100%;
      overflow: auto;
      &--slider {
        position: relative;
      }
    }
    &__cards {
      width: 100%;
      height: 100%;
      transform: rotateX(180deg);
      &--slider {
        position: absolute;
        top: 0;
        opacity: 0;
        transition: opacity ease-in-out 0.4s;
        overflow: hidden;
        &--active {
          opacity: 1;
          overflow: initial;
        }
      }
    }
    &__title {
      margin-bottom: 20px;
      display: flex;
      font-family: $public-sans-regular;
      font-size: 14px;
      color: $slate-gray;
      &--bold {
        margin-right: 3px;
        font-family: $public-sans-bold;
      }
    }
  }

  &--new {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}
.c-panel {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  justify-content: center;
  width: calc(100% - 30px);
  margin: 0 auto;
  border-radius: 12px;
  background-color: $light-grey;
  &__info {
    display: flex;
    max-width: 380px;
    text-align: center;
    flex-direction: column;
    &-text {
      display: flex;
      flex-direction: column;
      font-family: $public-sans-bold;
      font-size: 14px;
      font-weight: 600;
      color: $slate-gray;
      margin-bottom: 40px;
    }
  }
}

.slider {
  position: relative;
  height: 100%;
  width: 100vw;
  margin: 0 auto;
  overflow: auto;
  white-space: nowrap;
}
