//colors

$turquoise-blue: #00a9ce;
$sf-brand-blue: #0b5cab;
$grey: #999;
$light-grey: #f8f8f8;
$dark-grey: #f4f2f2;
$slate-gray: #5b6770;
$white: #fff;
$natterbox-green: #c2d210;
$natterbox-dark-blue-grey: #49535c;

//fonts

$varela-round: "'Varela Round', sans-serif";

$public-sans-thin: "PublicSans-Thin', sans-serif";
$public-sans-regular: "PublicSans-Regular', sans-serif";
$public-sans-bold: "PublicSans-Bold, sans-serif";

$inter-thin: "Inter-Thin, sans-serif";
$inter-regular: "Inter-Regular, sans-serif";
$inter-bold: "Inter-Bold, sans-serif";