//colors

$turquoise-blue: #00a9ce;
$sf-brand-blue: #0b5cab;
$grey: #999;
$light-grey: #f8f8f8;
$dark-grey: #f4f2f2;
$slate-gray: #5b6770;
$white: #fff;
$natterbox-green: #c2d210;
$natterbox-dark-blue-grey: #49535c;
$natterbox-lighter-red: #f8485e;
$pinkish-grey: #cccccc;
$input-text-colour: #999;
$dark-white: #eaeaea;
$natterbox-red: #eb0c28;
//fonts

$varela-round: Varela Round, sans-serif;

$public-sans-thin: PublicSans-Thin, sans-serif;
$public-sans-regular: PublicSans-Regular, sans-serif;
$public-sans-bold: PublicSans-Bold, sans-serif;

$inter-thin: Inter-Thin, sans-serif;
$inter-regular: Inter-Regular, sans-serif;
$inter-bold: Inter-Bold, sans-serif;

$poppins-regular: Poppins-Regular, sans-serif;

// breakpoints

$sm: "576px";
$md: "768px";
$lg: "992px";
$xl: "1200px";
$xxl: "1400px";
