//colors

$turquoise-blue: #00a9ce;
$sf-brand-blue: #0b5cab;
$grey: #999;
$white: #fff;
$natterbox-green: #c2d210;
$natterbox-dark-blue-grey: #49535c;

//fonts

$varela-round: "'Varela Round', sans-serif";
$public-sans-regular: "'PublicSans-Regular', sans-serif";
$inter-regular: "'Inter-Regular', sans-serif";